name: balajiworkflow
on:
  push:
    branches:
      - master

env:
  MONGODB_DB_NAME: balajibrb
  MONGODB_PASSWORD: JESUSsaves@123
  MONGODB_USERNAME: balajibr
  MONGODB_CLUSTER_ADDRESS: cluster0.o984wk7.mongodb.net
  PORT: 8080
jobs:
    lint-test-build: 
        runs-on: ubuntu-latest
    
        steps:
            - name: get code
              uses: actions/checkout@v4
            - name: install dependencies
              run: npm install
            - name: lint
              run: npm run lint
            - name: test
              run: npm test
            - name: build
              run: npm run build

            - name: upload artifacts
              uses: actions/upload-artifact@v4
              with:
                name: dist-files
                path: |
                 dist
                 package.json
    


    deploy-into-vercel: 
        needs: lint-test-build
        runs-on: ubuntu-latest
        steps:
            - name: get code
              uses: actions/checkout@v4
            - name: install dependencies
              run: npm install
            - name: build
              run: npm run build
            
            

            - name: Download Artifacts
              uses: actions/download-artifact@v4
              with:
                name: dist-files
            - name: deploy into vercel
              uses: amondnet/vercel-action@v25
              with:
                vercel-token: ${{ secrets.VERCEL_TOKEN }}
                vercel-org-id: ${{ secrets.ORG_ID }}
                vercel-project-id: ${{ secrets.PROJECT_ID }}
                vercel-args: '--prod'
                working-directory: ./




   
    
        


            
    
