name: balajiworkflow
on:
  push:
    branches:
      - master

env:
  PORT: 8080
jobs:
    lint-test-build: 
        runs-on: ubuntu-latest
    
        steps:
            - name: get code
              uses: actions/checkout@v4
            - name: install dependencies
              run: npm install
            - name: lint
              run: npm run lint
            - name: start server
              run: npm start & npx wait-on http://localhost:$PORT
            
            - name: test
              run: npm test

            - name: upload artifacts
              uses: actions/upload-artifact@v4
              with:
                name: dist-files
                path: package.json
    


    deploy-into-vercel: 
        needs: lint-test-build
        runs-on: ubuntu-latest
        steps:
            - name: get code
              uses: actions/checkout@v4
            - name: install dependencies
              run: npm install

            - name: Download Artifacts
              uses: actions/download-artifact@v4
              with:
                name: dist-files
            - name: deploy into vercel
              uses: amondnet/vercel-action@v25
              with:
                vercel-token: ${{ secrets.VERCEL_TOKEN }}
                vercel-org-id: ${{ secrets.ORG_ID }}
                vercel-project-id: ${{ secrets.PROJECT_ID }}
                vercel-args: '--prod'
                working-directory: ./




   
    
        


            
    
