name: reactworkflow
on: push
jobs:
    lint-test-build: 
        runs-on: ubuntu-latest
    
        steps:
            - name: get code
              uses: actions/checkout@v4
            - name: lint
              uses: stefanoeb/eslint-action
            - name: install dependencies
              run: npm install
            - name: test
              run: npm test

    deploy-into-vercel: 
        runs-on: ubuntu-latest
        steps:
            - name: deploy into vercel
              uses: amondnet/vercel-action@v25
              with:
                vercel-token: ${{ secrets.VERCEL_TOKEN }}
                vercel-org-id: ${{ secrets.ORG_ID }}
                vercel-project-id: ${{ secrets.PROJECT_ID }}
                vercel-args: '--prod'
                working-directory: ./
   
    
        


            
    
